/*# sourceURL=css/ant-animation.css */
/*@ sourceURL=css/ant-animation.css */
container-slide{
	z-index: 0;
}

.container-slide, div[class^="img-slide"], .container-slide img, .capa-slide{
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	height: inherit;
}
div[class^="img-slide"]{
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: scroll;
	        background-size: cover;
}
.img-slide{
	background-color: #fff;
}
.img-slide-1{
	background-image: url("../images/slides/1.png");
	opacity: 0;
	        animation: imageAnimation 18s linear 0s infinite ;
}
.img-slide-2{
	background-image: url("../images/slides/2.png");
	opacity: 0;
	        animation: imageAnimation 18s linear 6s infinite ;
}
.img-slide-3{
	background-image: url("../images/slides/3.png");
	opacity: 0;
	        animation: imageAnimation 18s linear 12s infinite;
}
.capa-slide{
	z-index: 1;
	background-color: #fff;
	opacity: 0.2;
}
div[class^="txt-slide-"]{
	position: absolute;
	top: 28%;
	left: 30%;
	font-size: 700%;
	text-align: justify;
	z-index: 1;
	opacity: 0;
	line-height: 95px
}
div[class^="txt-slide-"] a{
	text-align: justify;
	font-family: "Anton";
	color: #fff;
	
	font-size: 5rem;
	text-transform: uppercase;
}
.txt-slide-1{
	        animation: txtAnimation 18s linear 0s infinite ;
}
.txt-slide-2{
	        animation: txtAnimation 18s linear 6s infinite ;
}
.txt-slide-3{
	        animation: txtAnimation 18s linear 12s infinite ;
}
/*keyframe - Animation */
@-webkit-keyframes imageAnimation{
	0% { opacity: 0;
		        animation-timing-function: ease-in;
	}
	8% { opacity: 1;
		        animation-timing-function: ease-out;
	}
	17% { opacity: 1;
		        animation-timing-function: ease-out;
	}
	40%{ opacity: 0;}
	100%{ opacity: 0;}
}
@keyframes imageAnimation{
	0% { opacity: 0;
		        animation-timing-function: ease-in;
	}
	8% { opacity: 1;
		        animation-timing-function: ease-out;
	}
	17% { opacity: 1;
		        animation-timing-function: ease-out;
	}
	40%{ opacity: 0;}
	100%{ opacity: 0;}
}

@-webkit-keyframes txtAnimation{
	0% { opacity: 0;
        z-index: 0; }
    8% { opacity: 1;
        z-index: 2; }
    20% { opacity: 1;
        z-index: 2;}
    26% { opacity: 0; 
        z-index:0;}
    100% { opacity: 0;
        z-index: 0;
}}

@keyframes txtAnimation{
	0% { opacity: 0;
        z-index: 0; }
    8% { opacity: 1;
        z-index: 2; }
    20% { opacity: 1;
        z-index: 2;}
    26% { opacity: 0; 
        z-index:0;}
    100% { opacity: 0;
        z-index: 0;
}}
.btn-servicios {
	z-index: 2;
	text-align: center;
}