/*# sourceURL=css/ant-animation.css */
/*@ sourceURL=css/ant-animation.css */
/*# sourceURL=css/ant-animation.css */
/*@ sourceURL=css/ant-animation.css */
/*# sourceURL=css/ant-animation.css */
/*@ sourceURL=css/ant-animation.css */
/*# sourceURL=css/ant-animation.css */
/*@ sourceURL=css/ant-animation.css */
/*# sourceURL=css/ant-animation.css */
/*@ sourceURL=css/ant-animation.css */
/*# sourceURL=css/ant-animation.css */
/*@ sourceURL=css/ant-animation.css */
/*# sourceURL=css/ant-animation.css */
/*@ sourceURL=css/ant-animation.css */
/*# sourceURL=css/ant-animation.css */
/*@ sourceURL=css/ant-animation.css */
container-slide{
	z-index: 0;
}
/*hola*/

.container-slide, div[class^="img-slide"], .container-slide img{
	width: 100%;
	position: absolute;
	top: auto;
	left: 0;
	height: inherit;
}
div[class^="img-slide"]{
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: scroll;
	background-size: cover;
}
.img-slide{
	background-color: #fff;
}
.img-slide-1{
	background-image: url("http://localhost:8000/css/../images/slides/1.png");
	opacity: 0;
	        animation: imageAnimation 24s linear 0s infinite ;
}
.img-slide-2{
	background-image: url("http://localhost:8000/css/../images/slides/2.png");
	opacity: 0;
	        animation: imageAnimation 24s linear 8s infinite ;
}
.img-slide-3{
	background-image: url("http://localhost:8000/css/../images/slides/3.png");
	opacity: 0;
	        animation: imageAnimation 24s linear 16s infinite;
}
.txt-slide{
	float: right !important;
}
div[class^="txt-slide-"]{
	border-radius: 1rem;
	background-color: rgba(0,0,0,0.7);
	padding: 3rem;
	position: absolute;
	top: 20rem;
	right: 2rem;
	z-index: 1;
}
div[class^="txt-slide-"] a{
	font-family: "Anton";
	color: #fff;
	font-size: 3rem;
	text-transform: uppercase;
}

.txt-slide-1{
	opacity: 0;
	animation: txtAnimation 24s linear 0s infinite ;
}
.txt-slide-2{
	opacity: 0;
	animation: txtAnimation 24s linear 8s infinite ;
}
.txt-slide-3{
	opacity: 0;
	animation: txtAnimation 24s linear 16s infinite ;
}
/*keyframe - Animation */

@keyframes imageAnimation{
	0% { opacity: 0;
		animation-timing-function: ease-in;
	}
	4% { opacity: 1;
		animation-timing-function: ease-out;
	}
	35% { opacity: 1;
		animation-timing-function: ease-out;
	}
	40%{ opacity: 0;}
	100%{ opacity: 0;}
}



@keyframes txtAnimation{
	0% { opacity: 0;
        z-index: 0; }
    5% { opacity: 1;
        z-index: 2; }
    28% { opacity: 1;
        z-index: 2;}
    32% { opacity: 0; 
        z-index:0;}
    100% { opacity: 0;
        z-index: 0;
}}
.btn-servicios {
	z-index: 2;
	text-align: center;
}

/*responsive*/
@media screen and (max-width: 980px) {
	
}
@media screen and (max-width: 800px) {
	
}
@media screen and (max-width: 768px) {
	
}
@media screen and (max-width: 360px) {
	.txt-slide{
		position: relative;
		bottom: 0px;
	
	}
	div[class^="txt-slide-"]{
	right: 0rem;
	}
}