.text-aseguradoras {
	display: inline;
	text-align: justify;
}

.text-aseguradoras h2{
	display: inline-block;
}
.logo-bancos {
	display: inline-block;
}
.logos-aseguradoras {
	width: 677px;
	margin-top: 20px;
}
.logos-aseguradoras img {
	display: inline-block;
	width: 18%;
	margin-left: 4px;

}
.financiadoras {
	padding: 2%;
	border-right: 1px solid #ccc;
}
.Aseguradoras {
	padding: 2%;
}
.contacto {
	background: #e5e5e5;
}
.contacto h2 {
	text-align: center;
	color: #666666;
}
.contacto p {
	text-align: justify;
	padding: 4%;
	color: #7f7f7f;
}
.contacto-descripcion {
	border-right: 1px solid #fff;
}
.mensaje-contacto .form-control {
	width: 95%;
	margin-top: 20px;
    margin-left: 2%;
}
.enviar .btn-primary{
	   
	float: right;
    margin-top: 20px;
    margin: 3%;
    width: 25%;
    border-radius: 0px;
    background: black;
    padding: 9px;
}

 .input-contacto {
	margin:15px;
}