/*# sourceURL=css/style-tucan.css */
/*@ sourceURL=css/style-tucan.css */
/*# sourceURL=css/style-tucan.css */
/*@ sourceURL=css/style-tucan.css */
/*# sourceURL=css/style-tucan.css */
/*@ sourceURL=css/style-tucan.css */
/*# sourceURL=css/style-tucan.css */
/*@ sourceURL=css/style-tucan.css */
/*# sourceURL=css/style-tucan.css */
/*@ sourceURL=css/style-tucan.css */
/*# sourceURL=css/style-tucan.css */
/*@ sourceURL=css/style-tucan.css */
/*# sourceURL=css/style-tucan.css */
/*@ sourceURL=css/style-tucan.css */
/*# sourceURL=css/style-tucan.css */
/*@ sourceURL=css/style-tucan.css */
/*# sourceURL=css/style-tucan.css */
/*@ sourceURL=css/style-tucan.css */
/*# sourceURL=css/style-tucan.css */
/*@ sourceURL=css/style-tucan.css */
/*# sourceURL=css/style-tucan.css */
/*@ sourceURL=css/style-tucan.css */
/*# sourceURL=css/style-tucan.css */
/*@ sourceURL=css/style-tucan.css */
/*# sourceURL=css/style-tucan.css */
/*@ sourceURL=css/style-tucan.css */
/*Style-tucan*/
/*Resetear style*/
*{
	margin: 0 auto;
	box-sizing: border-box;
}
a:link{
	text-decoration: none;
}
li{
	list-style-type:none;
}
.social, .menu-ham{
	margin-top: 2rem;
}
.social span{
	color: #fff;
	font-size: 5rem;
	border-radius: 50%;
	text-align: center;
	margin-left: 1rem;
}
/*Header*/
header{
	height: 700px;
	margin-top: 6rem;
}

/*nav*/
.top-nav{
	width: 100%;
	position: fixed;
	top: 0;
	z-index: 10000;
	background-color: rgba(0,0,0,1);
	margin: 0;
	text-align: center;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: flex-start;
}
.top-nav>div{
	margin: 1rem auto;
}
.top-nav>div>*{
	margin: 1rem auto;
}
/*logo*/
.logo-autoslujo{
	position: relative;
	z-index: 2;
}
.logo-autoslujo img{
	width: 100%;
}
.link-servicios{
	background-color: rgba(0,0,0,1);
	width: 20%;
	font-size: 2rem;
	position: absolute;
	bottom: 15%;
	left: 40%;
	z-index: 10;
	text-align: center;
}
.link-servicios>a{
	color: rgba(255,255,255,1);
	font-size: 1.5rem;
}
.second-nav{
	background-color: rgba(0,0,0,0.5);
	border-radius: 10%;
	width: 15%;
	position: absolute;
	bottom: 15%;
	left: 2rem;
	z-index: 2;
	display: flex;
	flex-flow: column nowrap;
	
}
.second-nav a{
	color: #fff;
	font-size: 1.6rem;
	margin-top: 1rem;
	padding-left: 2rem;
	font-family: roboto;
	border-bottom: 0.1rem solid #fff;
	transition: color 0.5s ease;
	width: 100%;
}
.second-nav a:hover{
    color: #d2ab5d;
    border-bottom: 0.1rem solid #d2ab5d;
}

/*footer*/
.footer{
	background-color: rgba(0,0,0,1);
	margin: 0;
	text-align: center;
	justify-content: center;
}

.footer div{
	margin-top: 10px;
}

.social-footer span {
    color: #fff;
    font-size: 4rem;
    text-align: center;
    margin-left: 1rem;
}

.text-footer {
    color: #fff;
    font-size: 2rem;
    text-align: center;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

input[type=number] { -moz-appearance:textfield; }
/*Inicio media query*/
@media screen and (max-width: 980px) {
	header{
		height: 600px;
	}
	html{
		font-size: 10px;
	}
	
}
@media screen and (max-width: 800px) {
	header{
		height: 500px;
	}
	html{
		font-size: 8px;
	}
	
}
@media screen and (max-width: 768px) {
	header{
		height: 400px;
	}
	html{
		font-size: 8px;
	}
	
}
@media screen and (max-width: 360px) {
	header{
		margin-top: 8rem;
		height: 230px;
	}
	html{
		font-size: 5.5px;
	}
}

.menu-ham button{
	background-color: white;	
	margin-right: 20px
}

.nav-right{
  float:right ;
}

.navbar-inverse{
	background-color:black;
}


@media screen and (max-width: 767px) {
	  .side-collapse-container{
		  width:100%;
		  position:relative;
		  left:0;
		  transition:left .4s;
	  }
	  .side-collapse-container.out{
		  left:200px;
	  }
	  .side-collapse {
		  top:80px;
		  bottom:0;
		  left:0;
		  width:200px;
		  position:fixed;
		  overflow:hidden;
		  transition:width .4s;
	  }
	  .side-collapse.in {
		  width:0;
	  }
	  .navbar-header{
		  float:right;
	  }
	  
  }
  
  .nav>li>a {
    padding: 10px 10px;
}