/*# sourceURL=css/style-gallery.css */
/*@ sourceURL=css/style-gallery.css */
/*# sourceURL=css/style-gallery.css */
/*@ sourceURL=css/style-gallery.css */
/*# sourceURL=css/style-gallery.css */
/*@ sourceURL=css/style-gallery.css */
/*# sourceURL=css/style-gallery.css */
/*@ sourceURL=css/style-gallery.css */
.content-gallery {
	width: inherit;
	height: 50rem;
    position: relative;
    margin: 0px auto;
    border: 1px solid #bbb;
}
.hs_container{
	background-color: #fff;
	position:relative;
	width:100%;
	height:31rem;
	-webkit-box-shadow:1px 1px 3px #fff;
	box-shadow:1px 1px 3px #fff;
}
.hs_container .hs_area{
	position:absolute;
	overflow:hidden;
}
.hs_area img{
	position:absolute;
	width:100%;
	top:0px;
	left:0px;
	display:none;
}
.hs_area img.hs_visible{
	display:block;
	z-index:9999;
}
.hs_area1{
	border-right:1px solid #fff;
}
.hs_area4, .hs_area5{
	border-top:1px solid #fff;
}
.hs_area4{
	border-right:1px solid #fff;
}
.hs_area3{
	border-top:1px solid #fff;
}
.hs_area1{
	width:50%;
	height:500px;
	top:0px;
	left:0px;
}
.hs_area2{
	width:50%;
	height:24.5rem;
	top:0px;
	left:50%;
}
.hs_area3{
	width:50%;
	height:254px;
	top:24.6rem;
	left:50%;
}


@media screen and (max-width: 1280px) {
	.hs_area3{
		top:23.4rem;
	}
}
@media screen and (max-width: 980px) {
	.content-gallery {
		height: 35rem;
	}
	.hs_area3{
		top:17.7rem;
	}
}