/*# sourceURL=css/style-ant.css */
/*@ sourceURL=css/style-ant.css */
/*@ sourceURL=css/style-ant.css */
/*Resetear style*/
*{
    margin: 0;
    padding: 0;
            box-sizing: border-box;
}
a{
	text-decoration: none;
}
/*End reset style*/
/*Body*/
body{
	margin: 0 auto;
	display: flex;
	        flex-direction: column;
}
body, header, section{
	width: 100%;
}


article, article>div{
	margin-top: 0.3rem;
	margin-bottom: 0.3rem;
}
article>div{
	margin: 0;
}
.ant-art2{
	margin: 1rem;
	font-family: roboto;
}
.ant-art2>div:first-child{
	border-right: 1px solid rgb(127,127,127);
}
.ant-art2>div{
	width: 50%;
}

p, h2{
	width: 25rem;
	text-align: center;
	font-weight: normal;
}
.logo-bancos{
	width: 10rem;
}
.logo-bancos>img{
	width: 10rem;
}
.ant-art3, .ant-art3>div{
	width: 100%;
	margin: 1rem auto;
}
.ant-art3 img{
	width: 10rem;
}