/*# sourceURL=css/tucan-gallery4.css */
/*@ sourceURL=css/tucan-gallery4.css */
/*# sourceURL=css/tucan-gallery4.css */
/*@ sourceURL=css/tucan-gallery4.css */
/*# sourceURL=css/tucan-gallery4.css */
/*@ sourceURL=css/tucan-gallery4.css */
/*# sourceURL=css/tucan-gallery4.css */
/*@ sourceURL=css/tucan-gallery4.css */
/*# sourceURL=css/tucan-gallery4.css */
/*@ sourceURL=css/tucan-gallery4.css */

[class^=.tg4-div-content]{
	margin: 0 auto;
}
.tg4-div-content2{
	display: none;
}
[class^=tg4-div-img], .tg4-div-img5{
	margin-bottom: 3px;
	cursor: pointer;
	position: relative;

}
[class^=tg4-div-img]>img, [class^=tg4-div-img]>span, .tg4-div-img5>a>span, .tg4-div-img5>a>img{
	width:99.5%;
}
[class^=tg4-div-img]>span, .tg4-div-img5>a>span{
	padding: 1rem;
	color: #fff;
	display: block;
	position: absolute;
	left: 0;
	top: 30%;
	font-size: xx-large;
	background-color: rgba(0,0,0,0.3);
	text-align: center;
	font-family: anton;
	letter-spacing: 0.1rem;
	transition: color 0.5s ease;
}
[class^=tg4-div-img]>span:hover, .tg4-div-img5>a>span{
	color: #ffbf00;
}

.tg4-div-img6,.tg4-div-img7, .tg4-div-img8{
	width: 33.333%;
}
.tg4-div-txt{
	font-family: ROBOTO;
	background-color: #FFF;
	width: 50%;
	align-items: center;
	position: relative;
	height: 34.2rem;
	background-color: rgb(237,237,237);
}
.tg4-div-txt>h2{
	font-family: anton;
	text-align: center
}
.tg4-div-txt>p{
	padding: 0.7rem;
	font-family: ROBOTO;
	text-align: justify;
}
.tg4-div-txt a{
	padding: 0.7rem;
	background-color: #000000;
	width: 40%;
	text-decoration: none;
	color: #B3B3B3;
	margin: 5%;
	font-family: anton;
	text-align: center;
	font-size: 3rem;
	position: absolute;
	right: 1rem;
	bottom: -0.5rem;
}
@media screen and (max-width: 1280px) {
	.tg4-div-txt{
		height: 32.4rem;
	}
}
@media screen and (max-width: 980px) {
	.tg4-div-txt{
		height: 24.8rem;
	}
	
}
@media screen  and (max-width: 800px) {
	.tg4-div-txt{
		height: 25.8rem;
	}
	.tg4-div-txt{
		height: 24.8rem;
	}
	.tg4-div-txt>h2, .tg4-div-txt a{
		font-size: 2.3rem
	}
	.tg4-div-txt>p{
		font-size: 1.5rem
	}
}
@media screen and(max-width: 780px) {
	.tg4-div-txt{
		height: 24.3rem;
	}
}
@media screen and (max-width: 360px) {
	.tg4-div-txt{
		height: 185px;
	}
	.tg4-div-txt>h2, .tg4-div-txt a{
		font-size: 3.2rem
	}
	.tg4-div-txt>p{
		font-size: 2rem
	}
}