/*# sourceURL=css/tucan-gallery4.css */
/*@ sourceURL=css/tucan-gallery4.css */
/*@ sourceURL=css/tucan-gallery4.css */

.tg4-div-content{
	cursor: pointer;
	width: 100%;
	margin: 0 auto;
	display: flex;
	flex-flow: row wrap;
}
[class^=tg4-div-img]{ 
	position: relative;
	width: 50%;
}
[class^=tg4-div-img]>img, [class^=tg4-div-img]>span{
	width:99.5%;
}
[class^=tg4-div-img]>span{
	color: #fff;
	display: block;
	position: absolute;
	left: 0;
	top: 30%;
	font-size: xx-large;
	background-color: rgba(0,0,0,0.3);
	text-align: center;
	font-family: anton;
	letter-spacing: 0.1rem;
	transition: color 0.5s ease;
}
[class^=tg4-div-img]>span:hover{
	color: #ffbf00;
}
